:root {
  --first-light-color: #0f748f;
  --second-light-color: #00c7fc;
  --dark-color: #1f2021;
}
.light-text {
  color: var(--first-light-color) !important;
}
.dark-text {
  color: var(--dark-color) !important;
}
.light-bg {
  background-color: var(--first-light-color) !important;
}
.dark-bg {
  background-color: var(--dark-color) !important;
}
.second-light-bg {
  background-color: var(--second-light-color) !important;
}
.second-light-text {
  color: var(--second-light-color) !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: var(--dark-color) !important;
}


/* start nav */
nav .container {
  border-bottom: 1px solid white;
  height: 72px;
}
@media (max-width:767px) {
  nav .container {
    height: 100px;
  }
}
@media (max-width:767px) {
  nav .container .logo{
    height: 40px;
  }
  nav .container .logo img {
    width: 100px;
    margin-top: 5px;
  }
}
nav .container .links li,nav .container .links li a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-size: 12px;
}
@media (max-width:767px) {
  nav .container .links li a{
    font-size: 8px;
  }
}
nav .container .links li{
  height: 73px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
@media (max-width:767px) {
  nav .container .links li{
    height: 63px;
  }
}
nav .container .links li a:hover {
  color: var(--second-light-color) !important;
}
nav .container .links li:hover {
  border-bottom: 1px solid var(--second-light-color);
}
nav .container .links .search svg {
  font-size: 20px;
}
@media (max-width:767px) {
  nav .container .links .search svg {
    font-size: 15px;
  }
}
/* END nav */
/* start landing */
.landing {
  height: calc(100vh - 72px);
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width:767px) {
  .landing {
    max-height: calc(100vh - 100px);
  }
}

.landing .images-slider {
  width: 100%;
  height: 100%;
}

.landing .images-slider .image{
  width: 100%;
  height: 100%;
  background-image: url("../asset/images/1.jpg");
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.landing .images-slider .left,.landing .images-slider .right {
  font-size: 55px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .images-slider .left {
  left: 50px;
}
.landing .images-slider .right {
  right: 50px;
}
.landing .images-slider ul li ,.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.landing .images-slider ul li {
  border: 1px solid white;
}
.active {
  border: none !important;
  background-color: var(--second-light-color);
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.landing #navigation {
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* end landing */